.DS_Store
node_modules
/dist
__pycache__
migrations
/media/*

# local env files
.env.local
.env.*.local
settings.py
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
settings.py
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc
mydjango